<!DOCTYPE html>
<html>

<head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

		* {
		}

		html,
		body {
			margin: 0;
		}

		div .code {
			font-family: 'Open Sans', sans-serif;
			color: #202020;
			text-align: center;
			font-size: 16px;
		}

		p {
			margin: 0;
		}

		.context {
			background-color: #F5F7FB;
			font-size: 12px;
			padding: 40px 50px 40px 50px;
			margin: 0 20%;
			color: #444;
		}

		.text {
			padding-left: 2rem;
			padding-top: 2rem;
			padding-bottom: 2rem;
			padding-right: 2rem;
			background-color: #FFFFFF;
			font-size: 14px;
		}

		.logo {
			width: 75%;
		}

		.button {
			background-color: #1FA0DB;
			border: none;
			color: #ffffff;
			padding: 12px 32px;
			text-decoration: none;
			display: inline-block;
			border-radius: 8px;
			font-size: 12px;
			margin: 4px auto 24px;
			cursor: pointer;
			transition: all .3s;
		}


		.atc_button {
			background-color: #FFFFFF;
			border: none;
			color: #444;
			padding: 8px 24px;
			text-decoration: none;
			display: inline-block;
			border-radius: 8px;
			border: 1px solid #444;
			font-size: 12px;
			margin: 32px auto 24px;
			cursor: pointer;
			transition: all .3s;
			font-weight: 500;
		}
		.atc_button:hover {
			color: #FFFFFF !important;
			background-color: #444;
		}

		.session-img {
			border: 1px solid #e2e2e2;
			width: 100%;
			max-width: 320px;
			max-height: 200px;
			object-fit: cover;
			border-radius: 12px;
			aspect-ratio: 16/9;
			margin: 16px 0px
		}

		@media(max-width: 600px) {
			.context {
				margin-left: 0;
				margin-right: 0;
			}

			div .code h1 {
				font-size: 1.3rem;

			}

			.text {
				font-size: 12px;
			}
		}
	</style>
</head>

<body>
	<div class='context'>
		<div class="code">
			<img class="logo" src="{{img}}"></img>
		</div>
		<div class="text" style="padding:32px; background-color:#ffffff; font-size: 14px">
			Hello {{name}},
			<br>
			<p style="margin-bottom: 16px">
				Greetings from InterviewDeck. We have scheduled an interview for company
				<span style="color: #1FA0DB; font-weight:500">{{company}}</span>.
			</p>
			<div style="text-align: center">
				<p>The interview is scheduled from</p>
				<p style="color: #666; font-weight: 500;margin-bottom: 12px;">{{start_time}} to {{end_time}}</p>

				<a href="{{link}}" style="color:#FFFFFF; font-weight:500" class="button">Join Meeting</a>
				<p>Meeting Link : <span style="color: #1fa0db">{{link}}</span></p>

				<a href="http://www.google.com/calendar/event?action=TEMPLATE&text={{sub}}&dates={{c_start_time}}/{{c_end_time}}&details={{text}}&location={{link}}"
					class="atc_button" style="color: #444;font-weight:500">
					Add to calender
				</a>
			</div>

			<p>For any queries regarding interviews or schedule please revert back.</p>
			<br>
			<br>

			Regards,<br>
			InterviewDeck.


		</div>
	</div>
</body>

</html>